@font-face {
  font-family: "FiraCode";
  src: url("/fonts/FiraCode-VF.ttf") format("truetype");
  font-weight: 0 999;
}

@font-face {
  font-family: "Playfair";
  src: url("/fonts/PlayfairDisplay-VariableFont.ttf") format("truetype");
  font-weight: 0 999;
}

@font-face {
  font-family: "Playfair";
  src: url("/fonts/PlayfairDisplay-Italic-VariableFont.ttf") format("truetype");
  font-weight: 0 999;
  font-style: italic;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
